<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
    <meta th:insert="~{parents/links}">
    <script th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{'//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css'}">
    <script type="text/javascript" th:src="@{'//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#employees').dataTable({
                "language": {
                    "lengthMenu": "Жол саны _MENU_",
                    "search": "Іздеу:",
                    "zeroRecords": "Тауарлар табылмады",
                    "paginate": {
                        "first": "Алғашқы",
                        "last": "Соңғы",
                        "next": "Келесі",
                        "previous": "Алдыңғы"
                    },
                    "loadingRecords": "Жүктелуде...",
                    "emptyTable": "Тауарлар табылмады",
                    "info": " ",
                    "infoEmpty": " ",
                    "infoFiltered": "",
                }
            });
        });
    </script>
</head>

<div class="sticky-top" th:insert="~{admin/parents/header}"></div>

<body>
<div class="container-fluid">
    <div class="row">

        <div th:insert="~{/admin/parents/navbar}"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-3">
            <div class="row justify-content-md-end">
                <div class="col-md-auto">
                    <a class="btn btn-outline-success mt-4" th:href="@{'/admin/employee'}">Қызметкер қосу</a>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <h5 class="mt-4">Қызметкерлер</h5>
                </div>
            </div>
            <div class="table-responsive">
                <table id="employees" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Аты-жөні</th>
                        <th scope="col">Пошта</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Мекен-жайы</th>
                        <th scope="col">Рөлі
                        <th scope="col">Әрекет</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}">
                        <td class="align-middle" th:text="${employees.indexOf(employee) + 1}"></td>
                        <td class="align-middle" th:text="${employee.getName()}"></td>
                        <td class="align-middle" th:text="${employee.getEmail()}"></td>
                        <td class="align-middle" th:text="${employee.getPhone()}"></td>
                        <td class="align-middle" th:text="${employee.getAddress()}"></td>
                        <td class="align-middle"> <span th:each="role : ${employee.getRoles()}" th:text="${role.getRole()}"></span></td>
                        <td class="align-middle">
                            <form th:if="${employee.getEmail() != #authentication.getName()}" th:action="@{'/admin/employee'}" th:method="DELETE">
                                <input type="hidden" name="id" th:value="${employee.getId()}">
                                <button class="btn btn-sm btn-outline-danger">Өшіру</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="dashboard.js"></script>


</body>
</html>