<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Админ панель</title>
    <meta th:insert="~{parents/links}">
    <script th:src="@{'https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js'}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{'//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css'}">
    <script type="text/javascript" th:src="@{'//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#orders').dataTable({
                "language": {
                    "lengthMenu": "Жол саны _MENU_",
                    "search": "Іздеу:",
                    "zeroRecords": "Тауарлар табылмады",
                    "paginate": {
                        "first": "Алғашқы",
                        "last": "Соңғы",
                        "next": "Келесі",
                        "previous": "Алдыңғы"
                    },
                    "loadingRecords": "Жүктелуде...",
                    "emptyTable": "Тауарлар табылмады",
                    "info": " ",
                    "infoEmpty": " ",
                    "infoFiltered": "",
                }
            });
        });
    </script>
</head>

<div class="sticky-top" th:insert="~{admin/parents/header}"></div>

<body>
<div class="container-fluid">
    <div class="row">

        <div th:insert="~{/admin/parents/navbar}"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mb-3 mt-4">
            <h5 class="">Сурет қосу</h5>
            <form th:action="@{'/admin/photos'}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-8">
                        <input type="file" name="photo" class="form-control" >
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-success w-100">Сақтау</button>
                    </div>
                </div>
            </form>

            <h5 class="mt-5">Табылған суреттер</h5>
            <div class="table-responsive align-center">
                <table id="orders" class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Сурет</th>
                        <th scope="col">Аты</th>
                        <th scope="col">Әрекет</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="photo : ${photos}">
                        <td class="align-middle" th:text="${photos.indexOf(photo) + 1}"></td>
                        <td class="align-middle">
                            <div class="table-photo">
                                <img th:src="@{'/photos/' + ${photo}}" alt="">
                            </div>
                        </td>
                        <td class="align-middle" th:text="${photo}"></td>
                        <td class="align-middle">
                            <form th:action="@{'/admin/photos'}" th:method="DELETE">
                                <input type="hidden" th:value="${photo}" th:name="photo">
                                <button class="btn btn-outline-danger">Өшіру</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </main>
    </div>
</div>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
<script src="dashboard.js"></script>


</body>
</html>