<!-- Footer -->
<div class="container">
  <footer class="pt-5">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Тауарлар</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a th:href="@{'/category/smartphone'}" class="nav-link p-0">Смартфондар</a>
          </li>
          <li class="nav-item mb-2">
            <a th:href="@{'/category/headphone'}" class="nav-link p-0">Құлаққаптар</a>
          </li>
          <li class="nav-item mb-2">
            <a th:href="@{'/category/smartwatch'}" class="nav-link p-0">Смарт сағаттар</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Smart</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a th:href="@{'/home'}" class="nav-link p-0">Бас бет</a>
          </li>
          <li class="nav-item mb-2">
            <a th:href="@{'/favorites'}" class="nav-link p-0">Менің таңдауларым</a>
          </li>
          <li class="nav-item mb-2">
            <a th:href="@{'/cart'}" class="nav-link p-0">Себет</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Бізбен байланысу жолдары</h5>
        <ul class="list-unstyled d-flex align-items-center">
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="bi bi-whatsapp"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"><i class="bi bi-telegram"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center py-4 border-top" >
      <p>© 2023 SMART SHOP. Барлық құқықтар қорғалған</p>
    </div>
  </footer>
</div>
<!-- Footer -->